@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #f3f7fb;
}

/* =========== Quiz box main ============= */

.quiz_box, .result_box {
    opacity: 1; 
    margin-bottom: 30px; 
    margin-top: 60px; 
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 22%), 0 7px 20px 0 rgb(0 0 0 / 20%);
   
}

.quiz-image {
    max-width: 230px; 
    margin: auto;
}

.quiz_box.activeQuiz, .result_box.activeResult {
    opacity: 1; 
    display: block; 
    z-index: 5; 
    pointer-events: auto; 
    transform: scale(1);
}

.quiz_box.inactiveQuiz {
    display: none !important;
}

.quiz_box {
    max-width: 550px;  
    margin-left: auto; 
    margin-right: auto; 
    background: #fff; 
    border-radius: 7px; 
    transform: scale(0.9); 
    opacity: 1; 
    pointer-events: none; 
    transition: all 0.5s ease;
}

.quiz_box .quiz_header {
    position: relative; 
    z-index: 2; 
    padding: 15px 20px; 
    background: #fff; 
    border-radius: 5px 5px 0 0; 
    display: flex; 
    align-items: center;  
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box .quiz_header .quiz_title {
    font-size: 20px; 
    font-weight: 500; 
    width:90%;
}

.quiz_box .quiz_header .logo_container {
    background: #e9f4ff; 
    border: 1px solid #b8daff; 
    height: 45px; 
    padding: 0 3px; 
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 40px;
}

.quiz_box .quiz_header .questions_line { 
    position: absolute; 
    bottom: 0px; 
    left: 0px; 
    height: 3px; 
    background: #007bff;
}

section { 
    padding: 25px 30px 20px 30px; 
    background: #fff;}

section .current_question {
    font-size: 19px; 
    font-weight: 600;
}

section .option_list {
    padding: 20px 0px; 
    display: block;
}

section .option_list .option {
    background: rgb(238, 248, 255); 
    border: 1px solid #77befc; 
    border-radius: 5px; 
    padding: 15px 15px; 
    font-size: 22px; 
    margin-bottom: 17px; 
    cursor: pointer; 
    transition: all 0.5s ease; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

section .option_list .option:last-child { 
    margin-bottom: 0px;
}

section .option_list .option:hover { 
    color: #0a3083; 
    background: #cce5ff; 
    border: 1px solid #b8daff;}

section .option_list .option.correct { 
    color: #155724; 
    background: #d2edd8; 
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect { 
    color: #721c24; 
    background: #f8d7da; 
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled { 
    pointer-events: none;
}

.letterQuiz {
    display:none;
}

.checkCorrect {
    border:2px solid green; 
    border-radius:20px; 
    padding:0px 8px; 
    font-weight:800;
}

.checkIncorrect {
    border:2px solid #721c24; 
    border-radius: 20px; 
    padding: 0px 9px; 
    font-weight:400;
}

/* ============ Quiz footer ===========*/

.quiz_footer {
    height: 60px; 
    padding: 0 30px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    border-top: 1px solid lightgrey;
}

.quiz_footer .question_counter span {
    user-select: none;
}

.quiz_footer .question_counter span p {
    font-weight: 800; 
    display:inline;
}

.quiz_footer .question_counter span p:first-child {
    padding-left: 0px;
}

.quiz_footer button {
    height: 40px; 
    padding: 0 13px; 
    font-size: 18px; 
    font-weight: 600; 
    cursor: pointer; 
    border: none; 
    outline: none; 
    color: #fff; 
    border-radius: 5px; 
    background: #0057b0; 
    border: 1px solid #007bff; 
    line-height: 10px; 
    opacity: 0; 
    pointer-events: none; 
    transform: scale(0.95); 
    transition: all 0.5s ease;}

.quiz_footer button:hover { 
    background: #0263ca;
}

.quiz_footer button.show { 
    opacity: 1; 
    pointer-events: auto; 
    transform: scale(1);
}


/* ================ Results box ==================== */

.result_box { 
    background: #fff; 
    border-radius: 7px; 
    display: flex; 
    padding: 25px 30px; 
    max-width: 500px; 
    margin-left:auto; 
    margin-right:auto; 
    align-items: center; 
    flex-direction: column; 
    justify-content: center; 
    transform: scale(0.9); 
    opacity: 0; 
    display:none; 
    pointer-events: none;  
    transition: all 0.5s ease;
}

.icon_result {
    max-width:200px; 
    margin:auto;
}

.result_box .complete_text { 
    font-size: 20px; 
    font-weight: 500; 
    text-align: center; 
    margin-bottom: 15px;
}

.result_box .score_text {
    text-align: center; 
    font-size: 18px; 
    margin-bottom: 35px;
}

.result_box .score_text span p {
    text-align: center; 
    padding: 0 4px; 
    font-weight: 600; 
    display: inline;
}

.result_box .buttons { 
    display: flex; 
    margin: 20px 0; 
    max-width:150px; 
    margin:auto;
}

.result_box .buttons button { 
    margin: 0 10px; 
    height: 45px; 
    padding: 0 20px; 
    font-size: 18px; 
    font-weight: 600; 
    cursor: pointer; 
    border: none; 
    outline: none; 
    border-radius: 5px; 
    border: 1px solid #007bff; 
    transition: all 0.5s ease;
}

.buttons button.restart {
    color: #fff; 
    background: #007bff; 
    background-image:linear-gradient(#0070C9, #004081);
    transition: all 0.5s ease;
}

.buttons button.restart:hover {
    background: #0263ca;
}

/* ================ For mobile devices ==================== */

@media screen and (max-width: 600px) { 
    section {
        padding: 25px 15px 20px 15px;
    }
}